* {
  margin: 0;
  padding: 0;
  font-family: "PT Sans", sans-serif;
  font-weight: 300;
}

html,
body {
  height: 100%;
}

.wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
  background: #eae5e5;
}

.content {
  display: flex;
}

.navbar {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}
.navbar ul {
  display: flex;
  max-width: 600px;
  justify-content: space-evenly;
}
.navbar ul li {
  list-style-type: none;
  font-size: 1.5em;
  text-transform: uppercase;
  margin-right: 30px;
}
.navbar ul li a {
  text-decoration: none;
  color: tomato;
}
.content {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.content-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  padding: 10px;
  max-width: 650px;
}
.content .intro {
  margin-left: 30px;
}
.content .intro .blog {
  margin-bottom: 10px;
}
.content .intro .blog a {
  color: tomato;
  padding: 10px;
}
.content .intro .intro-name {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.content .intro .name {
  text-transform: uppercase;
  background-color: #ddd;
  padding: 10px;
  border-radius: 10px;
  font-size: 12px;
  margin-bottom: 20px;
}
.content .intro .title {
  text-transform: uppercase;
  line-height: 1.4em;
  font-size: 1.4em;
  margin-bottom: 30px;
}
.content .intro .short-intro {
  margin-bottom: 20px;
}
.social {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  margin-bottom: 20px;
}
.social p {
  margin-bottom: 20px;
}
.social a {
  text-decoration: none;
  margin-right: 10px;
}
