// sizes
$mobile: 375px;
$tablet: 768px;
$desktop: 1440px;

// colors
$dark-cyan: hsl(185, 75%, 39%);
$dark-blue: hsl(229, 23%, 23%);
$dark-grayish-blue: hsl(227, 10%, 46%);
$dark-gray: hsl(0, 0%, 59%);
$border-color: #f0f0f0;
$white: #fff;

// font-family
$font-family: "Kumbh Sans", sans-serif;
